<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
   
      <a href="/" class="navbar-brand">My Library</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for (i=0;i<nav1.length;i++){%>
        <li>
          <a href="<%=nav1[i].link%>"><%=nav1[i].name%></a>
        </li>
     <%}%>
      </ul>
      
    </nav>
  </div>
</header>

<div class="bg-image" style=" background-image: url('https://cdn.theculturetrip.com/wp-content/uploads/2017/03/pixamaus2015-pixabay-650x459.jpg');
height: 100vh; background-repeat: no-repeat;background-size: cover; "></div>
	</body>
</html>