
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		
<link rel="stylesheet" href="/public/css/styleslogin.css">

</head>

<body >
  <!-- Background image -->

<!-- Background image -->
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
          
          <div class="navbar-header">
            <!-- <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button> -->
            <!-- <a href="/" class="navbar-brand">My Library</a> -->
          </div>
          <nav class="collapse navbar-collapse" role="navigation">
           
            
          </nav>
        </div>
      </header>
    <div class="container  mt-5">
        
        <form action="/login" method="post">
          <div class="form-box">
            <h1>Login</h1>
           
            <form action="/login" method="post">
              <div class="form-group">
                <label for="name">Username</label>
                <input class="form-control" id="name" type="email" name="email" placeholder="Enter your registered email address!!">
              </div>
              <div class="form-group">
                <label for="email">password</label>
                <input class="form-control" id="email" type="password" name="password">
              </div>
              <div class="form-group">
                <!-- <label for="message">Message</label>
                <textarea class="form-control" id="message" name="Message"></textarea> -->
              </div>
              <input class="btn btn-primary" type="submit" value="Submit" />
              </div>
            </form>
          </div>
        </form>
    </div>
</body>
</html>









